body {
    padding:5px;
    padding-top:5px;
}
.x-body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:13px;
}
p {
    margin-bottom:15px;
}
h1 {
    font-size:18px;
    margin-bottom:20px;
}
h2 {
    font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}
.example-info{
    width:150px;
    border:1px solid #c3daf9;
    border-top:1px solid #DCEAFB;
    border-left:1px solid #DCEAFB;
    background:#ecf5fe url( info-bg.gif ) repeat-x;
    font-size:10px;
    padding:8px;
}
pre.code{
    background: #F8F8F8;
    border: 1px solid #e8e8e8;
    padding:10px;
    margin:10px;
    margin-left:0px;
    border-left:5px solid #e8e8e8;
    font-size: 12px !important;
    line-height:14px !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}

.feature-list {
    margin-bottom: 15px;
}
.feature-list li {
    list-style: disc;
    margin-left: 17px;
    margin-bottom: 4px;
}

.x-cell-positive {color:black; text-align : right;}
.x-cell-negative {color:red;   text-align : right;}


.x-item-disabled {
    color: #888888 !important;
    -moz-opacity: 100;
    opacity: 1;
}

.x-form-item-label .x-item-disabled {
    color: #888888 !important;
    -moz-opacity: 100;
    opacity: 1;
}

.add {
	background-image:url(icons/fam/add.gif) !important;
}
.remove {
    background-image:url(icons/fam/delete.gif) !important;
}
.save {
    background-image:url(icons/fam/database_save.png) !important;
}
.preview {
    background-image:url(icons/fam/eye.png) !important;
}
.print {
    background-image:url(icons/fam/printer.png) !important;
}
.load {
    background-image:url(icons/fam/database_refresh.png) !important;
}
.edit {
    background-image:url(icons/fam/page_edit.gif) !important;
}

.stop{
	background-image:url(icons/fam/cross.gif) !important;
}

.select{
	background-image:url(icons/silk/arrow_right.png) !important;
}

.password{
	background-image:url(icons/silk/key.png) !important;
}

.mail{
	background-image:url(icons/silk/email.png) !important;
}

.upload{
	background-image:url(icons/silk/up.png) !important;
}
.new_document{
	background-image:url(icons/silk/page_white_add.png) !important;
}

.save_document{
	background-image:url(icons/silk/disk.png) !important;
}

.open_document{
	background-image:url(icons/silk/folder-open.gif) !important;
}

#module{
	margin-left:auto;
	margin-right:auto;
	width: 79em;
	text-align: left;
}

// Login form 
.form-login-icon-title {
    background-image: url("icons/silk/locked.png")
}

.form-login-header {
    background: transparent url("icons/silk/lock.png") no-repeat 97% 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}

.form-login-header .error {
    color: red;
}

.form-login-icon-login {
    background-image: url("icons/silk/login.png")
}

.form-login-icon-cancel {
    background-image: url("icons/silk/close.png")
}

.form-login-warning {
    background: url("icons/silk/warning.png") no-repeat center left;
    padding: 2px;
    padding-left: 20px;
    font-weight: bold;
}

// Navigation 

.expand {
    background-image: url('icons/silk/expand.png') !important;
}

.collapse {
    background-image: url('icons/silk/collapse.png') !important;
}

.datalink div{
   text-decoration: underline;
    cursor: pointer;
}

.logout {
    background-image: url('icons/silk/logout.png') !important;
}

.find {
    background-image: url('icons/silk/find.png') !important;
}
